<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>IndexHttpServlet</servlet-name>
        <servlet-class>controller.IndexHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginHttpServlet</servlet-name>
        <servlet-class>controller.LoginHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterHttpServlet</servlet-name>
        <servlet-class>controller.RegisterHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDisplayHttpServlet</servlet-name>
        <servlet-class>controller.CourseDisplayHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendQueryHttpServlet</servlet-name>
        <servlet-class>controller.SendQueryHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateCourseHttpServlet</servlet-name>
        <servlet-class>controller.AdminUpdateCourseHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutHttpServlet</servlet-name>
        <servlet-class>controller.SignOutHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileHttpServlet</servlet-name>
        <servlet-class>controller.ViewProfileHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCheckHttpServlet</servlet-name>
        <servlet-class>controller.AdminCheckHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorUpdateHttpServlet</servlet-name>
        <servlet-class>controller.MentorUpdateHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserAccountHttpServlet</servlet-name>
        <servlet-class>controller.UpdateUserAccountHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryHttpServlet</servlet-name>
        <servlet-class>controller.QueryHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailHttpServlet</servlet-name>
        <servlet-class>controller.SendMailHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexHttpServlet</servlet-name>
        <url-pattern>/IndexHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginHttpServlet</servlet-name>
        <url-pattern>/LoginHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterHttpServlet</servlet-name>
        <url-pattern>/RegisterHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDisplayHttpServlet</servlet-name>
        <url-pattern>/CourseDisplayHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendQueryHttpServlet</servlet-name>
        <url-pattern>/SendQueryHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateCourseHttpServlet</servlet-name>
        <url-pattern>/AdminUpdateCourseHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutHttpServlet</servlet-name>
        <url-pattern>/SignOutHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileHttpServlet</servlet-name>
        <url-pattern>/ViewProfileHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCheckHttpServlet</servlet-name>
        <url-pattern>/AdminCheckHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorUpdateHttpServlet</servlet-name>
        <url-pattern>/MentorUpdateHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserAccountHttpServlet</servlet-name>
        <url-pattern>/UpdateUserAccountHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryHttpServlet</servlet-name>
        <url-pattern>/QueryHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailHttpServlet</servlet-name>
        <url-pattern>/SendMailHttpServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
