*{
	margin: 0;
	padding: 0;

}

html, body {
	height: 100%;
	background-color: #ecf0f1;
	font-family: 'Josefin Sans', sans-serif;
}

.container{
	width: 100%;
	height: 100%;
	/*background-color: #f3efe0;*/
	/*text-align: center;*/
	-webkit-transition: all 1s ease;
}

.text{
	/*padding-top: 20px;
	color: #a4cdac;*/
	background-color: black;
	-webkit-transition: all 1s ease;
}

.menu-toggle{
	display: block;
	text-decoration: none;
	/*margin-top: 20px;
	font-size: 18px;*/
}

.menu-toggle:hover{
	color: #262626;
	font-size: 19px;
}

.navbar {
	position: fixed;
	height: 100%;
	width: 18%;
	top: 0px;
	left: 0px;
	background-color: #48a770;
	overflow: hidden;
	-webkit-transform: translate(-100%,0);

	-webkit-transition: all 1s ease;
}

.navbar h2{
	padding: 20px 0px;
	color: #275c3d;
	text-align: center;
}

nav a{
	display: block;
	padding: 20px 0px;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	border-bottom: 1px solid #398659;
}

nav a:hover{
	color: #cccccc;
}

.Span{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 15px;
	cursor: pointer;
	margin: 20px;
}

.Span span{
	height: 1px;
	background: #ffffff;
	margin-bottom: 5px;
	display: block;

}

.text h3{
	display: inline-block;
	vertical-align: middle;
	margin: 1.1vw;
	color: rgba(255, 255, 255, 0.5);
	float: right;
}

.Line{
	width: 300px;
	float: right;
	border: solid 2px dimgrey;
}

.Name{
	text-align: right;
	margin-top: 50px;
	margin-right: 20px;
	font-family: 'Josefin Sans', sans-serif;
}

#Test{
	display: none;
	margin-left: 20%;
}

table {
    border-collapse: collapse;
    margin-bottom: 50px;
}

td,th{
    padding-top: 20px;

}

input[type="text"]{
	border-radius: 5px;
	height: 30px;
	width: 25vw;
	margin-left: 5vw;
}

#Test1{
	display: none;
	margin-left: 20%;
}

#Test2{
	display: none;
	margin-left: 20%;
}

#svc{
	background-color: #FA636A;
	padding: 0.5vw;
	color: white;
	font-weight: bold;
}

#svc3{
	background-color: #FA636A;
	padding: 0.5vw;
	color: white;
	font-weight: bold;
}