*{
	margin: 0;
	padding: 0;

}

html, body {
	height: 100%;
	background-color: #ecf0f1;
}

.container{
	width: 100%;
	height: 100%;
	/*background-color: #f3efe0;*/
	/*text-align: center;*/
	-webkit-transition: all 1s ease;
}

.text{
	/*padding-top: 20px;
	color: #a4cdac;*/
	background-color: black;
	-webkit-transition: all 1s ease;
}

.menu-toggle{
	display: block;
	text-decoration: none;
	/*margin-top: 20px;
	font-size: 18px;*/
}

.menu-toggle:hover{
	color: #262626;
	font-size: 19px;
}

.navbar {
	position: fixed;
	height: 100%;
	width: 18%;
	top: 0px;
	left: 0px;
	background-color: #48a770;
	overflow: hidden;
	-webkit-transform: translate(-100%,0);

	-webkit-transition: all 1s ease;
}

.navbar h2{
	padding: 20px 0px;
	color: #275c3d;
	text-align: center;
}

nav a{
	display: block;
	padding: 20px 80px;
	text-decoration: none;
	/*text-align: center;*/
	font-size: 20px;
	color: #ffffff;
	border-bottom: 1px solid #398659;
}

nav a:hover{
	color: #cccccc;
}

.Span{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 15px;
	cursor: pointer;
	margin: 20px;
}

.Span span{
	height: 1px;
	background: #ffffff;
	margin-bottom: 5px;
	display: block;

}

.Cen{
	margin-left: 500px;
	height: 30px;
	width: 200px;
	margin-left: 500px;
	border-radius: 5px;
	background-image: url(../Images/Search.png);
	background-size: 20px 20px;
	background-position: left;
	padding-left: 30px;
	background-repeat:no-repeat;
	background-position: 2px 3px;
	color: black;
	display: inline;
}

.parent{
	padding: 5vw;
}

.parent h1{
	font-size: 4vw;
	font-family: 'Josefin Sans', sans-serif;
	margin-bottom: 4vw;
}

.desc{
	padding: 2vw;
	border: 2px solid black;
	font-size: 1.5vw;
	border-radius: 8px;
	background-color: white;
	box-shadow:5px 5px 5px #888888;
	margin-bottom: 4vw;
	width: 40%;
	float: left;
}

.column{
	border: 2px solid black;
	padding: 1vw;
}

.col1{
	width: 45%;
	float: left;
	text-align: center;
	vertical-align: middle;
	margin-left: 60px;
}

.col1inside{
	border: 2px solid black;
	height: 10vw;
	width: 10vw;
	border-radius: 200px;
	background-image: url(../Images/Video.jpg);
	background-size: cover;
	float: right;
}

.col2inside{
	border: 2px solid black;
	height: 10vw;
	width: 10vw;
	border-radius: 200px;
	background-image: url(../Images/Book.jpg);
	background-size: cover;
	text-align: center;
	float: right;
	margin-top: 2vw;
}

.col2inside h1{
	margin-top: 6vw;
	font-size: 30px;
	color: white;
}

#qb{
	background: -webkit-linear-gradient(right,#ecf0f1, #8e44ad);
	padding: 1vw;
	margin-top: 5vw;
}

#video{
	display: none;
}

#video h1{
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

#video iframe{
    float: right;
    margin:5vw;
}

.a{
	border: 2px solid black;
	float: left;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	margin: 5vw;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

#book{
	display: none;
}

#vbk{
	margin: 5vw;
	margin-bottom: 0vw;
	background-color: #2980b9;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	cursor: pointer;
}

