*{
	margin: 0;
	padding: 0;

}

html, body {
	height: 100%;
	background-color: #ecf0f1;
}

.container{
	width: 100%;
	height: 100%;
	/*background-color: #f3efe0;*/
	/*text-align: center;*/
	-webkit-transition: all 1s ease;
}

.text{
	/*padding-top: 20px;
	color: #a4cdac;*/
	background-color: black;
	-webkit-transition: all 1s ease;
}

.menu-toggle{
	display: block;
	text-decoration: none;
	/*margin-top: 20px;
	font-size: 18px;*/
}

.menu-toggle:hover{
	color: #262626;
	font-size: 19px;
}

.navbar {
	position: fixed;
	height: 100%;
	width: 18%;
	top: 0px;
	left: 0px;
	background-color: #48a770;
	overflow: hidden;
	-webkit-transform: translate(-100%,0);

	-webkit-transition: all 1s ease;
}

.navbar h2{
	padding: 20px 0px;
	color: #275c3d;
	text-align: center;
}

nav a{
	display: block;
	padding: 20px 0px;
	text-decoration: none;   
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	border-bottom: 1px solid #398659;
}

nav a:hover{
	color: #cccccc;
}

.Span{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 15px;
	cursor: pointer;
	margin: 20px;
}

.Span span{
	height: 1px;
	background: #ffffff;
	margin-bottom: 5px;
	display: block;

}

.text h3{
  display: inline-block;
  vertical-align: middle;
  margin: 1.1vw;
  color: rgba(255, 255, 255, 0.5);
  float: right;
}

#myProgress {
  width: 80%;
  background-color: #ddd;
  margin-left: 1.5vw; 
}

#myBar {
  width: 50%;
  height: 15px;
  background-color: #4CAF50;
}

.Cen{
	margin-left: 500px;
	height: 30px;
	width: 200px;
	margin-left: 500px;
	border-radius: 5px;
	background-image: url(../Images/Search.png);
	background-size: 20px 20px;
	background-position: left;
	padding-left: 30px;
	background-repeat:no-repeat;
	background-position: 2px 3px;
	color: black;
	display: inline;
}

.parent{
	padding: 5vw;
	margin: 3vw;
}

.image{
	float: left;
	width: 33.3%;
}

.image img{
	margin-right: 5vw;
}

.image h1{	
}

.CI{
	width: 200px;
	padding-top: 1vw;
	padding-bottom: 1vw;
	background-color: grey;
	margin-top: 15vw;
	text-align: center;
	font-size: 20px;
	color: white;
}

.toggle{
	text-decoration: none;
	display: block;
	-webkit-transition:all 1s ease;
}

.navbar1 {
	
	width: 200px;
	/*background-color: #48a770;*/
  background-color: #95a5a6;
	overflow: hidden;
	-webkit-transform: translate(0,-100%);

	-webkit-transition: all 1s ease;
	display: none;
}

nav ul{
	display: block;
	padding: 2px 0px;
	text-decoration: none;   
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	border-bottom: 1px solid #398659;
}